/* Estilos de tipografia*/
body{
    font-family: $font-family;
    font-size: var(--font-size-normal);
    font-weight: $weight-normal;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: $font-title;
}
h1{
    
    font-size: var(--font-size-h1);
}
h2{

}
h3{

}
h4{

}
a{
    font-size: var(--font-size-small);
}