//Font
    $font-family:       'Open Sans', sans-serif; //body
    $font-title:        'Montserrat', sans-serif; //title

    $weight-light:      300;
    $weight:            400;
    $weight-semi-bold:  600;
    $weight-bold:       700;

    /* $kerning:;
    $kerning-heading:; */

//Color palette
    $color-bg:          #F5F5F5; //section / text
    $color-bg-dark:     #191b1d; //section
    $color-bg-footer:   #151719; //footer

    $color-fg:          #4E565F; //text general
    $color-accent:      #0F9095; //section
    $color-accent-bg:   #036569; //boton
    $color-accent-text: #7FE6ED; //text-accent
